<table>
  <tr>
    <th> <%= link_to "Name", :sort => "name" %> </th>
    <th> <%= link_to "Age", :sort => "age" %> </th>
    <th> <%= link_to "Email", :sort => "email_id" %> </th>
    <th> <%= link_to "Location", :sort => "location" %> </th>
    <th> <%= link_to "Department", :sort => "Department" %> </th>
    <th> <%= link_to "Designation", :sort => "Designation" %> </th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <% [:name, :age, :email_id, :location, :department,:designation].each do |attr| %>
        <td><%= user.public_send(attr) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
