<%= form_tag users_path, :method => 'get', remote: true , :id => 'users_search' do %>  
  <p>
  <%= text_field_tag :search, params[:search] %>  
  <%= submit_tag "Search", :name => nil %>  
  </p>
  <div id="users"><%= render 'users' %></div> 
<% end %>
<%= link_to "User information by location, designation, etc.", list_users_users_path %>
