<%= form_tag list_users_users_path, :method => 'get' do %>
  <p>
  <%= select_tag "search_by", options_for_select(@search_by_options, selected: params[:search_by]) %>
  <%= submit_tag "Submit"%>
  </p>
<% end %>
<% @grouped_user_names.each do |grouping_key, user_names| %>
  <p> <%= grouping_key %> : <%= user_names %></p>
<% end %>
<%= link_to "Back to Main page", root_path %>
