<%= form_tag list_users_users_path, :method => 'get' do %>
  <p>
  <%= select_tag "search_by", options_for_select(@search_by_options, selected: params[:search_by]) %>
  <%= submit_tag "Submit"%>
  </p>
<% end %>
<% @users.each do |grouping_key, users| %>
  <p> <%= grouping_key %> : <%= users.map(&:name).join("||")%></p>
<% end %>
<%= link_to "Back to Main page", root_path %>
